:root {
  --background-color: #f9f3ee;
  --card-background-color: #ffffff;
  --buttons-backgound-color: #F2D0A4;
  --hint-color: #70757a;
  --font-size: 12px;
}

.App {
  text-align: center;
  background-color: var(--background-color);
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  display: flex;
  gap: 50px;
}
.actions {
  display: flex;
  justify-content: space-between;
}

.add-button{
  border: none;
  border-radius: 100%;
  background-color: var(--buttons-backgound-color);
  padding: 1%;
  display: inline-flex;
}
.add-button-img{
  padding: 3%;
  height: 20px;
  width: 20px;
}

.main-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.books-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  gap: 5px;
  background-color: var(--card-background-color);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 256px;
}
.book-img {
  width: 113px;
}
.book-title {
  font-family: "Inter";
  font-weight: 700;
  line-height: 15px;
  font-size: var(--font-size);
}
.book-author {
  font-size: var(--font-size);
  font-family: "Inter";
  font-weight: 400;
  line-height: 15px;
  color: var(--hint-color);
}

.member-item {
  display: flex;
  width: 500px;
  justify-content: space-between;
  background-color: antiquewhite;
}

