@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

:root {
  --background-color: #f9f3ee;
  --card-background-color: #ffffff;
  --buttons-backgound-color: #f2d0a4;
  --hint-color: #70757a;
  --font-size: 12px;
  --box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.App {
  text-align: center;
  background-color: var(--background-color);
}
.my-logo {
  font-family: "Megrim", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  display: flex;
  gap: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  width: 500px;
  height: 40px;
  font-size: 16px;
  padding: 0px 10px;
  border-radius: 20px;
  border: none;
}

.search-input:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}
.search-input::placeholder {
  font-size: 16px;
  text-align: center;
}

.add-button {
  border: none;
  border-radius: 100%;
  background-color: var(--buttons-backgound-color);
  padding: 1%;
  display: inline-flex;
  box-shadow: var(--box-shadow);
}
.add-button-img {
  padding: 3%;
  height: 20px;
  width: 20px;
}

.main-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.books-content {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  gap: 5px;
  background-color: var(--card-background-color);
  box-shadow: var(--box-shadow);
  border-radius: 30px;
  width: 256px;
}
.book-img {
  width: 113px;
}
.book-title {
  font-family: "Inter";
  font-weight: 700;
  line-height: 15px;
  font-size: var(--font-size);
}
.book-author {
  font-size: var(--font-size);
  font-family: "Inter";
  font-weight: 400;
  line-height: 15px;
  color: var(--hint-color);
}

.member-item {
  display: flex;
  width: 500px;
  justify-content: space-between;
  background-color: antiquewhite;
}

.side-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-btn {
  border: none;
  font-family: "Inter";
  font-style: normal;
  border-radius: 20px;
  width: 173px;
  height: 40px;
  background-color: var(--buttons-backgound-color);
  font-size: 12px;
  padding: 0px 15px;
  text-decoration: none;
  color: black;
  line-height: 15px;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav-btn-icon {
  width: 25px;
  height: 25px;
}
